# Task 1 - Import data into dataframe

In [68]:
import pandas as pd
from sklearn.impute import SimpleImputer

df = pd.read_csv("./titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Task 2 - Check for null values

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [53]:
df[~(df["Age"].notnull()) | ~(df["Cabin"].notnull()) | ~(df["Embarked"].notnull())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Whether the person survive or not?
Build ML model - Output whether person will survive or not

In [65]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Pre-Processing
1. Features Selection
2. Cleaning
3. Standardize

In [ ]:
features_df = df[["Pclass", "Age", "Fare"]]
target_df = df["Survived"]

features_df

     Pclass   Age     Fare
0         3  22.0   7.2500
1         1  38.0  71.2833
2         3  26.0   7.9250
3         1  35.0  53.1000
4         3  35.0   8.0500
..      ...   ...      ...
886       2  27.0  13.0000
887       1  19.0  30.0000
888       3   NaN  23.4500
889       1  26.0  30.0000
890       3  32.0   7.7500

[891 rows x 3 columns]

In [66]:
features_df.isnull().sum()

Pclass      0
Age       177
Fare        0
dtype: int64

In [70]:
features_df.describe()

           Pclass         Age        Fare
count  891.000000  714.000000  891.000000
mean     2.308642   29.699118   32.204208
std      0.836071   14.526497   49.693429
min      1.000000    0.420000    0.000000
25%      2.000000   20.125000    7.910400
50%      3.000000   28.000000   14.454200
75%      3.000000   38.000000   31.000000
max      3.000000   80.000000  512.329200

In [73]:
imputer = SimpleImputer(strategy="mean")
columns = ['Pclass', 'Age', 'Fare']
features_df[columns] = imputer.fit_transform(features_df[columns])

features_df

C:\Users\E1009813\AppData\Local\Temp\ipykernel_19568\186073836.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df[columns] = imputer.fit_transform(features_df[columns])

     Pclass        Age     Fare
0       3.0  22.000000   7.2500
1       1.0  38.000000  71.2833
2       3.0  26.000000   7.9250
3       1.0  35.000000  53.1000
4       3.0  35.000000   8.0500
..      ...        ...      ...
886     2.0  27.000000  13.0000
887     1.0  19.000000  30.0000
888     3.0  29.699118  23.4500
889     1.0  26.000000  30.0000
890     3.0  32.000000   7.7500

[891 rows x 3 columns]

In [74]:
features_df.isnull().sum()

Pclass    0
Age       0
Fare      0
dtype: int64

In [ ]:
# 3. Standardize

from sklearn.preprocessing import StandardScaler # (3, 3) -> mean - 0, std - 1
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features_df)
features_scaled # minmax - (0, 1)

array([[ 0.82737724, -0.5924806 , -0.50244517],
       [-1.56610693,  0.63878901,  0.78684529],
       [ 0.82737724, -0.2846632 , -0.48885426],
       ...,
       [ 0.82737724,  0.        , -0.17626324],
       [-1.56610693, -0.2846632 , -0.04438104],
       [ 0.82737724,  0.17706291, -0.49237783]], shape=(891, 3))

# 4. Feature Engineering
- Bucketing (skip)
- Encoding (string) -> number

In [76]:
target_df

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [77]:
# 5. Modelling

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_scaled, target_df, test_size=0.2, random_state=42)

In [78]:
print(len(X_train), len(X_test), len(y_train), len(y_test), len(X_train) + len(X_test))

712 179 712 179 891

In [79]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [81]:
predict = model.predict(X_test)

predict

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0])

In [82]:
y_test # actual

709    1
439    0
840    0
720    1
39     1
      ..
433    0
773    0
25     1
84     1
10     1
Name: Survived, Length: 179, dtype: int64

In [83]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predict)

print(f"Model accuracy is: {accuracy:.2%}")

Model accuracy is: 73.74%